.btn.btn-outline-warning:focus,
.btn.btn-outline-warning:active,
.btn.btn-outline-warning:hover {
  background-color: white;
} 


ul{
list-style: none;
padding-left: 0;
}

.background-section {
    background-image: url("images/logo/facebook-cover.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;
}

  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

  .navbar{
   background-color: #f6931e;
  }

  .logo{
    height: 90px;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.logo img{
    width: 100%;
    height: 100%;
}

@media (max-width: 1110px) {
    .background-section {
       background-image: url("images/logo/facebook-cover-smaller.png");
       background-size:cover;
       background-position: center;
       background-repeat: no-repeat;
    }
}



.user{
  font-size: 20px;
  font-weight: bold;
}

.box{
  height: 300px;
  width: 300px;
  background-color: gray;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.box p{
  position: absolute;
  bottom: 0;
  right: 0;
  color: #f6931e;
  background-color: white;
  padding: 10px 30px;
  border-radius: 10px 0 0 10px;
  font-size: 20px;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.box:hover i{
  opacity: 1;
}

.box img {
  transition: transform 0.3s ease;
}

.box:hover img{
  transform: scale(1.1);
}

.box:hover p {
  opacity: 0;
}

.order-box {
  display: none;
  position: absolute;
  top: 100%;
  right: 50px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 350px;
  width: 400px;
}

@media (max-width: 660px) {
  .order-box {
      right: 0;
      left: 100%;
      transform: translateX(-50%);
  }

  footer .nav-info , .nav-icons{
    justify-content: center;
  }
}



.cart-info .btn-buy {
  background-color: #f6931e;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
}

.line {
  border-bottom: 1px solid #ddd;
  margin: 10px 0;
}

.icon{
  position: relative;
}

.icon i{
  cursor: pointer;
}

a .badge{
  display: none;
  position: absolute;
  height: 17px;
  width: 17px;
  background-color: #000000;
  color: white;
  text-align: center;
  border-radius: 50%;
  top: 0px;
  right: 0px;
  font-size: 10px;
  padding: 3px 2px;
}

.cart-text .badge{
  display: none;
  height: 30px;
  width: 30px;
  background-color: #000000;
  color: white;
  text-align: center;
  border-radius: 50%;
  
}